.myNavbar {
    /* margin-top: 30px; */
    position: sticky;
    top: 0;
    padding-top: 30px;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 3vh;
    animation-name: animateNavbarTop ;
    animation-duration: 1s;
    /* background-color: transparent; */
    z-index: 550;
    float: left;
    color: black;
}

.myNavbarOnScroll {
  /* margin-top: 30px; */
  padding-top: 30px;
    position: sticky;
    top: 0;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    animation-name: animateNavbarBottom;
    animation-duration: 1s;
    padding-bottom: 0vw;
    padding-top: 0vw;
    /* background-color: transparent; */
    z-index: 550;
    float: left;
    color: black;
}

@keyframes animateNavbarBottom {
  from {padding-bottom: 5vh; padding-top: 30px;}
  to {padding-bottom: 0vw; padding-top: 0px;}
}

@keyframes animateNavbarTop {
  from{padding-bottom: 0vw; padding-top: 0px;}
  to {padding-bottom: 5vh; padding-top: 30px;}
}