.myFooter {
    position: relative;
    font-size: medium;
    width: 100vw;
    bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #101010 ;
    text-align: center;
  }