  .mybio {
    display: inline-block;
    font-size: x-large;
    padding-top: 10%;
    padding-right: 35%;
    padding-left: 150px;
  }
  
  .arrow {
    position: relative;
    bottom: 0;
    padding-top: 10%;
    padding-left: 49%;
  }
  
  /* .openingPage {
    padding-bottom: 19%;
    background-image: url('https://wallpaperaccess.com/full/1216317.png');
  } */