
  .mybio {
    position: absolute; 
    margin-left: 35vh;
    font-size: 5vh;
    width: 60vw;
    top: 30vh;
    /* background-color: lightseagreen; */
    text-justify: inter-word;
  }
  
  .arrow {
    position: relative;
    bottom: 0;
    padding-top: 10%;
    padding-left: 49%;
  }
  
  .openingPage {
      /* background-color: cornflowerblue; */
      height: 100vh;
      
    background-image: url('../Assets/mybg.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .aboutMe {
    background-color: black;
    color: white;
    height: 100vh;
  }

  .myInfo {
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vh;
    margin-right: 10vh;
    font-size: 5vh;
    /* width: 90vw; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: mediumslateblue; */
    text-justify: inter-word;
  }